[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mongoengine = "*"
djangorestframework = "*"
django-rest-framework-mongoengine = "*"
django-cors-headers = "*"
pipenv = "*"
pillow = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
